<form action="/saveAuthor" method="post">
    <label> AuthorId</label>
    <input ng-model="Author.authorId" placeholder="ID" name="authorId"/>
    <label> Name</label>
    <input ng-model="Author.authorName" placeholder="Name" name="authorName"/>
    <label> Email</label>
    <input ng-model="Author.email" placeholder="Email" name="email"/>
    <label> Department</label>
    <input ng-model="Author.dept" placeholder="Department" name="dept"/>
    <label> Website</label>
    <input ng-model="Author.website" placeholder="Website" name="website"/>
    <label> Skills</label>
    <input ng-model="Author.skills" type="text" name="skills"/>
    <input type="submit" value="Add New Author"/>