doctype html
html
        head
                script(src="angular.min.js")
                script(src="route.js")
                script(src="main.js")
        body
                div(ng-app="authorApp" ng-controller="authorController")
                    div(ng-view="")