<form action="/saveBook" method="post">
    <label> ISBN </label>
    <input placeholder="ISBN" name="isbn"/>
    <label> Book Title</label>
                                <input placeholder="Book Title" name="title"/>
                                <label> Book Author </label>
                                <input placeholder="Book Author" name="author"/>
                                
                                
                                <label> Book Price</label>
                                <input placeholder="Book Price" name="price"/>
                                <label> Available on</label>
                                <input type="text" name="avail">
                                <input type="hidden" name="bookId">
                                <input type="submit" value="Add New Book"/>
</form>
 
